<?xml version="1.0"?>
<web-app id="mclab" version="3.1" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">  
  <display-name>mclab</display-name>

  <security-constraint id="SecurityConstraint_1">
     <web-resource-collection id="WebResourceCollection_1">
        <web-resource-name>Protected with allRole</web-resource-name>
        <url-pattern>/protected.html</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
     </web-resource-collection>
     <auth-constraint id="AuthConstraint_1">
        <role-name>allRole</role-name>       
     </auth-constraint>
  </security-constraint>
  <security-constraint id="SecurityConstraint_2">
     <web-resource-collection id="WebResourceCollection_2">
        <web-resource-name>Protected with allRole</web-resource-name>
        <url-pattern>*</url-pattern>
        <http-method>GET</http-method>
        <http-method>POST</http-method>
     </web-resource-collection>
     <auth-constraint id="AuthConstraint_2">
        <role-name>Everyone</role-name>       
     </auth-constraint>
  </security-constraint>


  <login-config>
  	<auth-method>FORM</auth-method>
  	<realm-name>Test Realm</realm-name>
    <form-login-config id="FormLoginConfig_1">
    	<form-login-page>/login.jsp</form-login-page>
        <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <security-role id="SecurityRole_1">
    <description>all role</description>
    <role-name>allRole</role-name>
  </security-role>       
   <security-role id="SecurityRole_2">
     <description>Everyone role</description>
     <role-name>Everyone</role-name>
  </security-role>    

</web-app>